<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.dao.ChapterDao">
    <select id="selectAllChapterByAlbumId" resultType="com.fh.entity.Chapter">
        select id,title,time,upload_time as uploadTime,size,music,album_id as albumId
        from cmfz_chapter
        where album_id=#{id}
    </select>
    <delete id="deleteChapter" parameterType="String">
        delete from cmfz_chapter where id in
        <foreach open="(" separator="," close=")" item="id" collection="array">
            #{id}
        </foreach>
    </delete>
    <insert id="insertChapter">
        insert into cmfz_chapter(
        id,title,time,upload_time,size,music,album_id
        ) values (
        #{id,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},
        #{time,jdbcType=VARCHAR},#{uploadTime,jdbcType=TIMESTAMP},
        #{size,jdbcType=VARCHAR},#{music,jdbcType=VARCHAR},
        #{albumId,jdbcType=VARCHAR}
        )
    </insert>
    <update id="updateChapter">
        update cmfz_chapter set title=#{title,jdbcType=VARCHAR}
        where id=#{id}
    </update>
    <update id="updateChapterMusic">
        update cmfz_chapter set music=#{music,jdbcType=VARCHAR},size=#{size,jdbcType=VARCHAR},
        time=#{time,jdbcType=VARCHAR}
        where id=#{id}
    </update>
</mapper>